html {
	font-size: 100%;
}
body {
	width: 100%;
}
tr {
	height: 60px;
}
td {
	width: 50px;
}
.purple {
	background-color: #E1BEE7;
}
.orange {
	background-color: #FFE0B2;
}
.yellow {
	background-color: #F0F4C3;
}
.grey {
	background-color: #B2DFDB;
}
.blue {
	background-color: #BBDEFB;
}
.green {
	background-color: #C8E6C9;
}
.desert {
	background-color: #FFF9C4;
}
.indigo {
	background-color: #C5CAE9;
}
.lime {
	background-color: #E6EE9C;
}
@media (min-width: 960px) {
	.symbol {
		text-align: center;
		font-weight: 900;
		font-size: 2rem;
		clear: both;
	}
	.numatom {
		font-size: 0.9rem;
		float: left;
	}
	.poids {
		font-size: 0.9rem;
		float: right;
	}
}
@media (max-width: 960px) {
	tr {
		height: 40px;
	}
	td {
		width: 30px;
	}
	.symbol {
		text-align: center;
		font-weight: 900;
		font-size: 1.2rem;
		clear: both;
	}
	.numatom {
		font-size: 0.5rem;
		float: left;
	}
	.poids {
		font-size: 0.5rem;
		float: right;
	}
}
