.object {
	float: left;
	width: 300px;
	height: 300px;
	text-align: center;
	padding: 5px;
	margin: 5px;
	background-color: #42A5F5;
}
.img_vignette{
	padding-right:50px;
	padding-left:50px;
}
.game_name
{
	margin-top:10px;
	margin-bottom:10px;
}
.menu_boutique
{
	width:200px;
	margin-right: :5px;
	text-align:center;
	float:left;
	background-color: #90CAF9;
	height:1000px;
}
.menu_boutique h2 {
	font-weight: 200;
	color: #F5F5F5;
	margin: 5px;
}
.categorie {
	display: inline-block;
}
.categorie a {
	font-weight: 200;
	text-decoration: none;
}
.categorie a:hover, .categorie a:active {
	color: #42A5F5;
}
ul.categorie {
	padding-left: 0px;
	width: auto;
}
.categorie li {
	list-style: none;
	margin: 5px;
}
.prix
{
	margin:10px;
}
.vignette
{
	margin:20px;
	border:2px solid black;
	border-radius:10px;
	width:90%;
	height:50px;
}
.arcade
{
	margin:auto;
	text-align:center;
	border:2px solid black;
	border-radius:10px;
	background-image:url("../img/arcade.jpg");
	width:90%;
	height:50px;
}
.ajouter_panier
{
	display:block;
	background-color:white;
	padding:10px;
	float: left;
}

.ajouter_panier:visited
{
	color:black;
	border:2px solid black;
	border-radius:9px;
	display:block;
	background-color:white;
	padding:10px;
}
.global_box {
	height: 100%;
}
